# Missing data table

In [6]:
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd

In [7]:
# Photograph data
photos = pd.read_csv('data/clean/quest_clean.csv')
alldata = photos[['household', 'foto1', 'foto2', 'foto3', 'foto4', 'foto5', 'foto6', 'foto7', 'foto8', 'foto9', 'foto10', 'foto11', 'satellite25', 'satellite100']]

In [8]:
# Missing data
nan_count = alldata.drop('household', axis=1)
nan_count = nan_count.isna().sum().to_frame()
nan_count.columns = ['Count']
nan_count['% of total samples'] = round(nan_count['Count']/975*100, 1).astype('str')
nan_count['Variable'] = nan_count.index
nan_count = nan_count[['Variable', 'Count', '% of total samples']]

In [9]:
nan_count.Variable = ['Roof', 'Floor', 'Light source',
                      'Front door', 'Wall', 'Kitchen',
                      'Stove', 'Bathroom', 'Latrine',
                      'Street view', 'Water source', 
                      'Satellite (25m buffer)', 'Satellite (100m buffer)']

In [10]:
nan_count

                             Variable  Count % of total samples
foto1                            Roof     11                1.1
foto2                           Floor      3                0.3
foto3                    Light source     16                1.6
foto4                      Front door      5                0.5
foto5                            Wall      3                0.3
foto6                         Kitchen     39                4.0
foto7                           Stove      7                0.7
foto8                        Bathroom      7                0.7
foto9                         Latrine      9                0.9
foto10                    Street view      1                0.1
foto11                   Water source      3                0.3
satellite25    Satellite (25m buffer)      0                0.0
satellite100  Satellite (100m buffer)      0                0.0

In [1]:
# print(nan_count.to_latex(index=False))