# Setup

In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
import glob
import random
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

In [2]:
# Define picture paths and tyes
photopaths = ['foto' + str(i) for i in range(1,12)]
photopaths = photopaths + ['satellite25', 'satellite100']
photonames = ['Roof', 'Floor', 'Light source', 'Front door', 'Wall', 'Kitchen', 
              'Stove', 'Bathroom', 'Latrine', 'Street view', 'Water source',
              'Satellite (25m buffer)', 'Satellite (100m buffer)']
# Read data
alldata = pd.read_csv('output/finetuning/'+ photopaths[0] +'_record.csv', index_col=None, header=0)
alldata['Picture'] = photonames[0]
for i in range(1,13):
    data_i = pd.read_csv('output/finetuning/'+ photopaths[i] +'_record.csv', index_col=None, header=0)
    data_i['Picture'] = photonames[i]
    alldata = pd.concat([alldata, data_i])
    del(data_i)

# Prepare data 
alldata = pd.melt(alldata, id_vars = ['epoch', 'Picture'])
alldata['Dataset'] = ['Train' if ('train' in i) else 'Test' for i in alldata['variable']]
alldata['Metric'] = ['Loss' if ('loss' in i) else 'Accuracy assets' if ('assets_acc' in i) else 'Accuracy expenditure' if ('exp_acc' in i) else 'Accuracy income' 
                             for i in alldata['variable']]
alldata = alldata.drop('variable', axis=1)

In [3]:
# Filter test accuracy in epoch=50 (last)
binary_results = alldata.loc[(alldata.epoch==50) & (alldata.Dataset=="Test") & (alldata.Metric!="Loss")]

# Prepare results table
binary_results = binary_results[['Picture', 'Metric', 'value']]
binary_results["Metric"] = [re.sub("Accuracy ", "", x) for x in binary_results.Metric]
binary_results = binary_results.pivot(index='Picture', columns='Metric', values='value').reset_index()
binary_results.columns = ['Photograph', 'Assets', 'Expenditure', 'Income']

# Order by average accuracy
binary_results['ordertab'] = (binary_results['Assets'] + binary_results['Expenditure'] + binary_results['Income'])/3
binary_results = binary_results.sort_values('ordertab', ascending = False)
binary_results = binary_results.drop(columns = 'ordertab')

In [4]:
# Show
binary_results = binary_results.style.format(decimal='.', thousands=',', precision=2).hide(axis="index")
binary_results

In [1]:
# print(binary_results.to_latex())